<div>
    <!-- Cover w/ Search Bar -->
    <div class="m-cover m-cover--full">
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <p class="a-header">
                Contact
            </p>
            <form>
                <input type="text" placeholder="Name" />
                <input type="text" placeholder="Email" />
                <textarea rows="5" placeholder="Message"></textarea>
                <div class="m-inline-group m-inline-group--full">
                    <button class="a-button">Send</button>
                    <a href="https://linkedin.com/in/joshuahills" target="_blank">LinkedIn</a>
                    <a href="https://github.com/joshhills" target="_blank">Github</a>
                    <a href="https://twitter.com/joshmarcushills" target="_blank">Twitter</a>
                </div>
            </form>
        </div>
        <img class="m-cover__image" src="/images/covers/cover-blog.jpg" alt="Blog image of me writing." />
    </div>
</div>