.m-cover {
    background-color: $chrome;
    display: flex;
    flex-direction: row;
    min-height: 430pt;
    overflow: hidden;
    position: relative;

    &--tint {
        &:after {
            position: absolute;
            content:"";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(34, 38, 41, 0.65);
        }
    }

    @include breakpoint(tablet) {
        min-height: 350pt;
        flex-wrap: wrap;
    }

    &__image {
        @include image-cover;
        @include image-lazyload;

        z-index: 0;
    }

    &__video {
        @include image-cover;
    }

    &__text {
        box-sizing: border-box;
        padding: $spacing-large;
        z-index: 1;

        @include breakpoint(phone) {
            padding: $spacing-medium;
        }

        .a-header,
        .a-subheader {
            margin-bottom: $spacing-medium;
        }

        &--light {
            color: $paper;

            input,
            textarea,
            button,
            a {
                color: $paper;

                &::placeholder {
                    color: $paper;
                }
            }
        }

        &--left {
            @include third-left;

            padding-right: 0;

            @include breakpoint(tablet) {
                padding-right: $spacing-medium;
                padding-bottom: 0;
            }
        }

        &--right {
            @include two-thirds-right;

            margin-left: auto;
        }
    }

    &--full {
        min-height: 100vh;

        // TODO: Clean this!
        @include breakpoint(phone) {
            min-height: calc(100vh - 168px);
        }
    }

    &--center {
        align-items: center;
    }
}