<div *ngIf="blogPost" [ngClass]="{'m-blog-item': !isExpanded, 'm-blog-item-expanded': isExpanded, 'm-blog-item--series': blogPost.classification.isCollection}">
    <div [ngClass]="{'m-blog-item__wrapper': !isExpanded, 'm-blog-item-expanded__wrapper': isExpanded, 'm-blog-item__wrapper--tint': !isExpanded && showPicture, 'm-blog-item-expanded__wrapper--tint': isExpanded && showPicture, 'm-blog-item__wrapper--read': !isExpanded && read, 'm-blog-item-expanded__wrapper--read': isExpanded && read, 'm-blog-item__wrapper--challenge': !isExpanded && blogPost.categories[0].name.toLowerCase() === 'challenge', 'm-blog-item-expanded__wrapper--challenge': isExpanded && blogPost.categories[0].name.toLowerCase() === 'challenge'}">
        <div (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" [ngClass]="{'m-blog-item__text': !isExpanded, 'm-blog-item-expanded__text': isExpanded, 'm-blog-item__text--tint': !isExpanded  && showPicture, 'm-blog-item-expanded__text--tint': isExpanded && showPicture}">
            <p class="a-subsubheader" *ngIf="showDate && (!showRoleDate || !blogPost.roleMetadata.startDate)">
                {{blogPost.dateCreated | date:'shortDate'}}
            </p>
            <p class="a-subsubheader" *ngIf="showRoleDate && blogPost.roleMetadata.isCurrent && blogPost.roleMetadata.startDate">
                Since {{blogPost.roleMetadata.startDate}}
            </p>
            <p class="a-subsubheader" *ngIf="!showRoleDate && showRoleOrganisation">
                {{blogPost.roleMetadata.type}}
            </p>
            <p class="a-subsubheader" *ngIf="showRoleDate && !blogPost.roleMetadata.isCurrent && blogPost.roleMetadata.startDate">
                {{blogPost.roleMetadata.startDate}} <ng-container *ngIf="blogPost.roleMetadata.endDate">- {{blogPost.roleMetadata.endDate}}</ng-container>
            </p>
            <a [ngClass]="{'m-blog-item__text__title': !isExpanded, 'm-blog-item-expanded__text__title': isExpanded, 'a-subheader': true}" [routerLink]="['/post', blogPost.id, slug]" [innerHTML]="showRoleTitle && blogPost.roleMetadata.title ? blogPost.roleMetadata.title : blogPost.title">
            </a>
            <p class="a-subsubheader" *ngIf="showRoleOrganisation && blogPost.roleMetadata.organisation">
                {{blogPost.roleMetadata.organisation}}
            </p>
            <p [ngClass]="{'m-blog-item__summary': !isExpanded, 'm-blog-item-expanded__summary': isExpanded}" *ngIf="isExpanded" [innerHTML]="blogPost.summary"></p>
            <a class="a-link" [ngClass]="{'m-blog-item__cta': !isExpanded, 'm-blog-item-expanded__cta': isExpanded}" *ngIf="showReadMore" [routerLink]="['/post', blogPost.id, slug]">
                Read more
            </a>
            <div *ngIf="editedSinceLastRead" [ngClass]="{'m-blog-item__updated': !isExpanded, 'm-blog-item-expanded__updated': isExpanded}">
                <small>updated</small>
            </div>
        </div>
        <video #video *ngIf="(showPicture || isExpanded) && (blogPost.featuredVideo.mp4 || blogPost.featuredVideo.webm)" [ngClass]="{'m-blog-item__video': !isExpanded, 'm-blog-item-expanded__video': isExpanded}"
            preload="none" loop muted playsinline disablePictureInPicture>
            <source type="video/mp4" src="{{blogPost.featuredVideo.mp4}}">
            <source type="video/webm" src="{{blogPost.featuredVideo.webm}}">
        </video>
        <img    *ngIf="(showPicture || isExpanded) && !(blogPost.featuredVideo.mp4 || blogPost.featuredVideo.webm)"
                [ngClass]="{'m-blog-item__image': !isExpanded, 'm-blog-item-expanded__image': isExpanded}"
                [defaultImage]="blogPost.featureImage.urlSmall"
                [lazyLoad]="blogPost.featureImage.srcSet"
                [scrollTarget]="this.windowService.getNativeWindow().document.getElementById('bleed')"
                [useSrcset]="true"
                [offset]="100"
                alt="{{blogPost.featureImage.altText}}" />
    </div>
</div>