<div class="l-blog">
    <!-- Cover w/ Search Bar -->
    <div class="m-cover m-cover--center" #cover>
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <p class="a-header">
                Blog
            </p>
            <p class="a-subheader">
                    Technological tattle, design documents and miscellaneous musings written during
                    various projects.
            </p>
            <blog-search (searchTermChangedEvent)="searchTermChangedEvent($event)" (categoryChangedEvent)="categoryChangedEvent($event)"></blog-search>
        </div>
        <img    class="m-cover__image"
                src="/static/images/covers/cover-blog-small.jpg"
                [lazyLoad]="'/static/images/covers/cover-blog-small.jpg 300w,
                            /static/images/covers/cover-blog-medium.jpg 400w,
                            /static/images/covers/cover-blog-large.jpg 1024w,
                            /static/images/covers/cover-blog-full.jpg 1920w'"
                [useSrcset]="true"
                [offset]="100000"
                alt="Blog image of me writing." />
    </div>
    <div *ngIf="handlingChange" class="l-blog__searching">
        <p class="a-subheader">
            Searching...
        </p>
    </div>
    <ng-container *ngIf="!handlingChange">
        <!-- Posts Error Feedback -->
        <div class="l-blog__error" *ngIf="!inSearch && noPostsAfterFetch">
            <p class="a-subheader">
                Uh-oh, doesn't look like there are any posts.
            </p>
        </div>
        <!-- Search Error Feedback -->
        <div class="l-blog__error" *ngIf="inSearch && noPostsAfterFetch">
            <ng-container>
                <p class="a-subheader">
                    It doesn't look like I've written
                    <ng-container *ngIf="searchTerm !== ''"> about that</ng-container>
                    <ng-container *ngIf="searchTerm === ''"> anything</ng-container> yet
                    <ng-container *ngIf="categoryName !== ''"> under category <em>'{{categoryName}}'</em></ng-container>
                    <ng-container *ngIf="tag !== ''"> with tag <em>'{{tagName}}'</em></ng-container>
                </p>
                <p>
                    Is <em>'{{searchTerm}}'</em> something I should look into?
                </p>
                <a routerLink="/about">
                    Contact
                </a>&nbsp;
                <a href="/blog">
                    Clear
                </a>
            </ng-container>
        </div>
        <!-- Search Success Feedback -->
        <div class="l-blog__feedback" *ngIf="inSearch && !noPostsAfterFetch">
            <p class="a-subheader">
                {{numPosts}} result<ng-container *ngIf="numPosts > 1">s</ng-container> found
                <ng-container *ngIf="searchTerm.trim() !== ''"> for <em>'{{searchTerm}}'</em></ng-container>
                <ng-container *ngIf="categoryName !== ''"> under category <em>'{{categoryName}}'</em></ng-container>
                <ng-container *ngIf="tag !== ''"> with tag <em>'{{tagName}}'</em></ng-container>...
            </p>
            <a href="/blog" style="display: inline-block">
                Clear
            </a>
        </div>
    </ng-container>
    <!-- Featured Post -->
    <blog-featured *ngIf="featuredBlogPost && !inSearch && currentPage == 0 && !handlingChange" [featuredBlogPost]="featuredBlogPost"></blog-featured>
    <!-- Posts -->
    <blog-list *ngIf="blogPosts && blogPosts.length > 0 && !handlingChange" [blogPosts]="blogPosts" [excludedPostIds]="excludedPostIds" [currentPage]="currentPage" [fresh]="currentPage == 0 && !inSearch"></blog-list>
    <!-- Information -->
    <div class="m-inset m-inset--dark">
        <div class="m-inset__contents m-inset__contents--left">
            <p>
                I try to post often, on various recurring themes - from personal challenges, to hackathon retrospectives,
                tutorials and anecdotes. It's all very free-form and home-brewed.
            </p>
            <p>
                Posts outlined with dashes represent atomic tidbits of knowledge logged during a piece of work.
                Those with multiple cards are in a series.
            </p>
        </div>
        <div class="m-inset__contents m-inset__contents--right">
            <p class="a-subheader">
                Stay up to date!
            </p>
        </div>
    </div>
    <!-- Pagination -->
    <blog-pagination [currentPage]="currentPage" [numPages]="numPages"></blog-pagination>
</div>