<div class="o-blog-list o-blog-list--fresh" [ngClass]="{'o-blog-list--fresh': fresh}" #blogList>
    <!-- Construct bespoke ordering for posts. -->
    <ng-container *ngFor="let blogPost of blogPosts; index as i">
        <blog-item [blogPost]="blogPosts[i]" [isExpanded]="i == 5 && fresh" [showDate]="i === 1 || i === 6 || currentPage > 0 || !fresh" [showPicture]="postIndicesToShowPictures.indexOf(i) !== -1 || !fresh"></blog-item>
        <!-- Anecdotal insert. -->
        <div class="m-blog-item-anecdote" *ngIf="i === 5 && fresh">
            <p class="a-header">
                I am...
            </p>
            <p>
                Reading <a href="https://www.deeplearningbook.org/" target="_blank">Deep Learning</a> by Ian Goodfellow,
                to learn about probability and information theory.
            </p>
        </div>
    </ng-container>
</div>