<!-- Component is unnecessary if there are no more pages. -->
<div class="m-pagination" *ngIf="show">
    <!-- Nagivation Previous -->
    <a class="m-pagination__link" [ngClass]="{'m-pagination__link--disabled': !previousNavigationEnabled}" [routerLink]="previousNavigationEnabled ? ['/blog', currentPage] : null" queryParamsHandling="preserve">&lt;</a>
    
    <!-- First Page (always present) -->
    <a class="m-pagination__link" [ngClass]="{'m-pagination__link--active': currentPage == 0}" routerLink="/blog/1" routerLinkActive="m-pagination__link--active" queryParamsHandling="preserve">1</a>

    <p class="m-pagination__gap" *ngIf="previousGap">...</p>

    <!-- Neighbourhood Grouping -->
    <a class="m-pagination__link" *ngFor="let pageIndex of neighbourhood" [routerLink]="['/blog', pageIndex + 1]" routerLinkActive="m-pagination__link--active" queryParamsHandling="preserve">
        {{pageIndex + 1}}
    </a>

    <p class="m-pagination__gap" *ngIf="nextGap">...</p>

    <!-- Last Page (always present) -->
    <a class="m-pagination__link" [routerLink]="['/blog', numPages]" routerLinkActive="m-pagination__link--active" queryParamsHandling="preserve">{{numPages}}</a>
    
    <!-- Nagivation Next -->
    <a class="m-pagination__link" [ngClass]="{'m-pagination__link--disabled': !nextNavigationEnabled}" [routerLink]="nextNavigationEnabled ? ['/blog', currentPage + 2] : null" queryParamsHandling="preserve">&gt;</a>
</div>