<div>
    <!-- Cover w/ Search Bar -->
    <div class="m-cover m-cover--full">
        <div class="m-cover__text m-cover__text--left m-cover__text--light">
            <p class="a-header">
                Site
            </p>
            <p>
                A place to share technological knowledge while I catalogue my career.
            </p>
            <p>
                <a class="a-link" href="https://github.com/joshhills/jargonify-site" rel="noopener" target="_blank">View the source code</a>,
                and consider <a class="a-link" href="https://www.surveymonkey.co.uk/r/Y7LRPBC" rel="noopener" target="_blank">leaving feedback</a> (thanks!)
            </p>
            <p>
                <small>
                    I use analytics, and one <a class="a-link" href="https://www.cookielaw.org/the-cookie-law/" rel="noopener" target="_blank">browser cookie</a> to show you which articles you've read.
                    No <a class="a-link" href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/key-definitions/what-is-personal-data/" title="Personally Identifying Information">PII</a> is stored.
                </small>
            </p>
            <p>
                <small>
                    Assets by Josh Hills are provided under a <a class="a-link" rel="license" title="View terms" href="http://creativecommons.org/licenses/by-sa/4.0/">CCC BY-SA 4.0 License</a>.
                </small>
            </p>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
        </div>
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <contact></contact>
        </div>
    </div>
</div>