$bleed-border: 8pt solid $lead;

// TODO: Make an organism?...
// OR make the div both a-bleed and o-something
.a-bleed {
    background-color: $paper;
    border-bottom: $bleed-border;
    border-right: $bleed-border;
    border-top: $bleed-border;
    box-sizing: border-box;
    flex-grow: 1;
    height: 100%;
    min-width: 360px;
    overflow-x: hidden;

    @include breakpoint(phone) {
        border-top: none;
        border-left: $bleed-border;
        height: auto;
        overflow-x: hidden;    
        width: 100%;
    }
}