$bleed-border: 8pt solid $lead;

.a-bleed {
    background-color: $paper;
    border-right: $bleed-border;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 360px;
    overflow-x: hidden;

    @include breakpoint(phone) {
        border-top: none;
        border-left: $bleed-border;
        height: auto;
        overflow-x: hidden;    
        width: 100%;
    }
}