@mixin link($color, $color-highlight) {
    color: $tint;
    font-weight: bold;

    &:visited,
    &:active,
    &:focus {
        color: $color;
    }

    &:hover {
        color: $color-highlight;
    }
}

a, .a-link {
    @include link($tint, $tint-light);

    &--light {
        @include link($paper, $paper);
    }
}