@mixin link($color, $color-highlight) {
    color: $color;
    font-weight: bold;

    &:visited,
    &:focus {
        color: $color;
    }

    &:hover,
    &:active {
        color: $color-highlight;
    }
}

a {
    @include link($tint, $tint-light);
}

.a-link {
    @include link($tint, $tint-light);

    &--light {
        @include link($paper, $tint-light);
    }
}