.l-blog {
    &__error {
        padding: $spacing-medium + $spacing-small;
    }

    &__feedback {
        padding: $spacing-medium + $spacing-small;
        padding-bottom: 0;
        
        @include last-no-margin;
    }
}