.o-blog-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: $spacing-small;
    padding-left: $spacing-medium;
    padding-right: $spacing-medium;

    // For bespoke design without search.
    &--fresh {
        > *:nth-child(2) {
            flex-basis: 40%;
        }
    }
}