.o-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing-medium $spacing-medium 0 $spacing-medium;
    position: relative;
    z-index: 1;

    > .a-header {
        margin: $spacing-small $spacing-small 0 $spacing-small;
    }
}