.o-post-list {
    &__contents {
        @include last-no-margin;

        box-sizing: border-box;
        padding: $spacing-large;

        @include breakpoint(phone) {
            padding: $spacing-medium;
        }

        // Have to identify DOM elements here.
        img {
            @include image-full;
        }

        // Wordpress specific.
        .wp-caption-text {
            font-style: oblique;
            padding: $spacing-small;
            color: $lead;
            text-align: center;
            border-top: $border-size solid $lead;
        }

        .wp-video {
            // Remove inline styles from code editor.
            width: auto !important;
        }
    }

    &__related {
        .m-blog-item {
            display: inline-block;
        
            &:first-of-type {
                .m-blog-item__wrapper {
                    margin-left: 0;
                }
            }
        }
    }

    &__footer {
        @include last-no-margin;

        background-color: $chrome;
        overflow: auto;
        padding: $spacing-large;

        @include breakpoint(phone) {
            padding: $spacing-medium;
        }
    }

    &__scroll {
        float: left;
        margin-bottom: 0;
    }

    &__social {
        float: right;
        margin-bottom: 0;
    }
}