<div class="o-contents">
    <nav class="o-contents__links">
        <a class="o-contents__link" routerLink="/" (mouseover)="over('home')" (mouseleave)="leave()">h</a>
        <a class="o-contents__link" routerLink="/blog" (mouseover)="over('blog')" (mouseleave)="leave()">b</a>
        <a class="o-contents__link" routerLink="/portfolio" (mouseover)="over('portfolio')" (mouseleave)="leave()">p</a>
        <a class="o-contents__link o-contents__link--low" routerLink="/blurb" (mouseover)="over('contact')" (mouseleave)="leave()">...</a>
    </nav>
</div>