<div class="o-contents">
    <nav class="o-contents__links">
        <div class="o-contents__link-wrapper">
            <a class="o-contents__link" routerLink="/" (mouseover)="over('home')" (mouseleave)="leave()">h</a>
        </div>
        <div class="o-contents__link-wrapper">
            <a class="o-contents__link" routerLink="/blog" (mouseover)="over('blog')" (mouseleave)="leave()">b</a>
        </div>
        <div class="o-contents__link-wrapper">
            <a class="o-contents__link" routerLink="/portfolio" (mouseover)="over('portfolio')" (mouseleave)="leave()">p</a>
        </div>
        <div class="o-contents__link-wrapper o-contents__link-wrapper--bottom">
            <a class="o-contents__link o-contents__link--low-character" routerLink="/blurb" (mouseover)="over('contact')" (mouseleave)="leave()">...</a>
        </div>
    </nav>
</div>