<div>
    <!-- Typography -->
    <div class="o-expand-container">
        <div class="o-expand-container__title">
            <p class="a-subheader">
                Typography
            </p>
            <p class="o-expand-container__button a-subheader o-expand-container__button--expanded">
                &gt;
            </p>
        </div>
        <div class="o-expand-container__contents o-expand-container__contents--expanded">
            <!-- Visual Example -->
            <div class="m-pattern-example">
                <p class="a-subsubheader">
                    Example
                </p>
                <div class="m-pattern-example__visual">
                    <p class="a-header">
                        Header
                    </p>
                    <p class="a-subheader">
                        Subheader
                    </p>
                    <p class="a-subsubheader">
                        Subsubheader
                    </p>
                    <p>
                        This is what a paragraph looks like by default throughout the body, with <strong>strong</strong> and <em>emphasised text</em>. 
                    </p>
                    <code>
                        This is what code looks like.
                    </code>
                    <pre>This is what pre-formatted text looks like.</pre>
                </div>
            </div>
            <!-- Code Example -->
            <div class="m-pattern-example">
                <p class="a-subsubheader">
                    Code
                </p>
                <pre>Stuff</pre>
            </div>
            <!-- Notes -->
            <div class="m-pattern-example">
                <p class="a-subsubheader">
                    Notes
                </p>
                <p class="m-pattern-example__notes">
                    Some aspects of the typography may change depending on their context (componentisation).
                </p>
            </div>
        </div>
    </div>
    <!-- Lists -->
    
    <!-- Captions -->
    <!-- Images -->
    <!-- Links -->
    <!-- Buttons -->
    <!-- Forms -->
    <!-- Tables -->
</div>