<div>
    <!-- Typography -->
    <div class="o-expand-container">
        <div class="o-expand-container__title">
            <p class="a-subheader">
                # Typography
            </p>
            <p class="o-expand-container__button o-expand-container__button--expanded">
                &gt;
            </p>
        </div>
        <div class="o-expand-container__contents o-expand-container__contents--expanded">
            <div class="m-pattern-example">
                <p class="a-subsubheader">
                    Example
                </p>
                <div>
                    <p class="a-header">
                        Header
                    </p>
                    <p class="a-subheader">
                        Subheader
                    </p>
                    <p class="a-subsubheader">
                        Subsubheader
                    </p>
                    <p>
                        This is what a paragraph looks like by default throughout the body, with <strong>strong</strong> and <em>emphasised text</em>. 
                    </p>
                    <code>
                        This is what code looks like.
                    </code>
                    <pre>
                        This is what pre-formatted text looks like.
                    </pre>
                </div>
            </div>
            <div class="m-pattern-example">
                <p class="a-subsubheader">
                    Code
                </p>
                <p>
                    <pre>
                        Stuff
                    </pre>
                </p>
            </div>
            <div class="m-pattern-example">
                <p>
                    Notes
                </p>
                <p>
                    Some aspects of the typography may change depending on their context (componentisation).
                </p>
            </div>
        </div>
    </div>
    <!-- Code -->
    <!-- Captions -->
    <!-- Images -->
    <!-- Links -->
    <!-- Buttons -->
    <!-- Forms -->
    <!-- Lists -->
    <!-- Tables -->
</div>