<div>
    <!-- Cover -->
    <div>
        <img    class="m-cover__image"
                src="/static/images/covers/cover-home.jpg"
                [lazyLoad]="'/static/images/covers/cover-home.jpg'"
                [offset]="100000"
                alt="Image of my desk with designs." />
        <p>
            Pattern Library
        </p>
        <p>
            The site's styles and brand guidelines in atomic design.
        </p>
    </div>
    <!-- Section -->
    <div class="o-section">
        <!-- Contents -->
        <ul>
            <li>
                <a routerLink="base">Base</a>
            </li>
            <li>
                <a routerLink="atoms">Atoms</a>
            </li>
            <li>
                <a routerLink="components">Components</a>
            </li>
            <li>
                <a routerLink="molecules">Molecules</a>
            </li>
            <li>
                <a routerLink="layouts">Layouts</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>