.o-expand-container {
    width: 100%;

    &__title {
        background-color: $chrome;
        padding: $spacing-small;

        .a-subheader {
            display: inline;
        }
    }
    
    &__button {
        float: right;

        &--expanded {
            transform: rotate(90deg);
        }
    }

    &__contents {
        display: none;
        padding: $spacing-small;

        &--expanded {
            display: block;
        }
    }
}