.o-post-list {
    &__contents {
        @include last-no-margin;

        box-sizing: border-box;
        padding: $spacing-large;

        @include breakpoint(phone) {
            padding: $spacing-medium;
        }

        // Have to identify DOM elements here.
        img {
            max-width: 100%;
        }

        p:last-child {
            margin-bottom: 0;
        }

        .img-space {
            margin-top: $spacing-small + $spacing-medium;
            margin-bottom: $spacing-small + $spacing-medium;
        }

        // Wordpress specific.
        .wp-caption-text {
            font-style: oblique;
            padding: $spacing-small;
            color: $lead;
            text-align: center;
            border-top: $border-size solid $lead;
        }

        .wp-video {
            // Remove inline styles from code editor.
            width: auto !important;
        }

        .m-image-carousel__active-item {
            min-width: auto;
        }
    }

    &__related {
        margin-top: 0;
        
        .m-blog-item {
            display: inline-block;

            &--series:before {
                top: 0;
            }
        }
    }

    &__footer {
        @include last-no-margin;

        background-color: $chrome;
        overflow: auto;
        padding: $spacing-large;
        
        @include breakpoint(phone) {
            padding: $spacing-medium;
        }
    }

    &__actions {
        display: inline-block;
        width: 50%;
        text-align: left;
        vertical-align: top;

        > * {
            margin-bottom: 0;
            margin-right: $spacing-small;
        }
    }

    &__edited {
        display: inline-block;
        width: 50%;
        text-align: right;

        > * {
            margin-bottom: 0;
        }
    }
}