.o-spine {
    color: $paper;
    background-color: $tint;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 6rem;
    border-left: $bleed-border;

    @include breakpoint(phone) {
        height: auto;
        width: 100%;
        border-left: none;
    }

    &__wrapper {
        position: absolute;
        top: 0;
        right: 75%;
        white-space: nowrap;
    
        transform: rotate(270deg);
        transform-origin: right top;

        @include breakpoint(phone) {
            position: relative;
            left: 0;
            top: 0.5rem;
            transform: none;
            right: auto;
        }
    }

    &__section-name {
        @include font-secondary();

        font-size: 95pt;
        font-weight: bold;

        @include breakpoint(phone) {
            font-size: 53pt;
        }
    }
}