<html>
    <head>
        <base href="/">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Raleway:400,400i,700,700i">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.2.0/build/web/hack.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
            Jargonify
        </title>
    </head>
    <body class="a-shelf">
        <app>
            <div class="o-loading">
                <p class="a-header">
                    Loading...
                </p>
            </div>
        </app>
    </body>
</html>