<html lang="en-US">
    <head>
        <!-- Angular Meta -->
        <base href="/">

        <!-- Default Meta -->
        <meta charset="utf-8">
        <title>Jargonify</title>
        <!-- Search Engine -->
        <meta name="description" content="Design and technology by Josh Hills">
        <meta name="author" content="Josh Hills">
        <meta name="image" content="/images/social/site-preview.jpg">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="Jargonify">
        <meta itemprop="description" content="Design and technology by Josh Hills">
        <meta itemprop="image" content="/images/social/site-preview.jpg">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Jargonify">
        <meta name="twitter:description" content="Design and technology by Josh Hills">
        <meta name="twitter:site" content="joshmarcushills">
        <meta name="twitter:creator" content="joshmarcushills">
        <meta name="twitter:image:src" content="/images/social/site-preview-slim.jpg">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title" content="Jargonify">
        <meta property="og:description" content="Design and technology by Josh Hills">
        <meta property="og:image" content="/images/social/site-preview.jpg">
        <meta property="og:url" content="/">
        <meta property="og:site_name" content="Jargonify">
        <meta property="og:type" content="website">

        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/images/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Raleway:400,400i,700,700i">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.2.0/build/web/hack.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="a-shelf">
        <app>
            <div class="o-loading">
                <p class="a-header">
                    Loading...
                </p>
            </div>
        </app>
    </body>
</html>