<div *ngIf="post" class="l-post">
    <div class="m-cover m-cover--center m-cover--tint" #cover>
        <div class="m-cover__text m-cover__text--light">
            <p class="a-subsubheader">
                <a *ngIf="backEnabled" class="a-link a-link--light a-subsubheader a-breadcrumb" [routerLink]="" (click)="back()">
                    <i class="fas fa-backspace" style="padding-right: 0.5rem"></i> Back
                </a>
                Posted {{post.dateCreated | date: 'fullDate'}} 
                <ng-container *ngIf="post.categories.length > 0">
                    under <a class="a-link a-link--light" routerLink="/blog" [queryParams]="{'category': post.categories[0].name.toLowerCase()}">{{post.categories[0].name | lowercase}}</a>
                </ng-container>
                <i class="fas fa-glasses" style="padding: 0 0.5rem"></i>
                {{ post.contents | readtime }} minute read
                <ng-container *ngIf="post.classification.isCollection">
                    <i class="fas fa-layer-group" style="padding: 0 0.5rem"></i>
                    in series
                </ng-container>
            </p>
            <h1 class="a-header" [innerHTML]="post.title"></h1>
            <p class="a-subheader" [innerHTML]="post.summary"></p>
            <ul class="m-tags">
                <li class="m-tags__item" *ngFor="let tag of post.tags">
                    <a class="m-tags__tag a-link a-link--light" routerLink="/blog" [queryParams]="{'tag': tag.name}">{{tag.name}}</a>
                </li>
            </ul>
        </div>
        <img    *ngIf="post.featureImage.urlFull && !(post.featuredVideo.webm || post.featuredVideo.mp4)"
                class="m-cover__image"
                src="{{post.featureImage.urlSmall}}"
                [lazyLoad]="post.featureImage.srcSet"
                [useSrcset]="true"
                [scrollTarget]="this.windowService.getNativeWindow().document.getElementById('bleed')"
                [offset]="100"
                alt="{{post.featureImage.altText}}" />
        <video #pvideo *ngIf="post.featuredVideo.mp4 || post.featuredVideo.webm" class="m-cover__video" poster="{{post.featureImage.urlFull}}" preload="auto" muted autoplay loop playsinline disablePictureInPicture>
            <source type="video/mp4" src="{{post.featuredVideo.mp4.url}}">
            <source type="video/webm" src="{{post.featuredVideo.webm.url}}">
        </video>
    </div>
    <div class="o-post-list">
        <div class="o-post-list__contents">
            <div *ngIf="!post.contents || post.contents.length === 0 || (post.contents[0].type === PostSectionType.TEXT && post.contents[0].content.changingThisBreaksApplicationSecurity.trim() === '')">
                <p>
                    This article is under construction! Try again later...
                </p>
            </div>
            <ng-container *ngFor="let section of post.contents" class="o-post-list__contents">
                <ng-container *ngIf="section.type === PostSectionType.TEXT">
                    <div [innerHTML]="section.content"></div>
                </ng-container>
                <ng-container *ngIf="section.type === PostSectionType.IMAGE">
                    <img    src="{{section.image.urlSmall}}"
                            class="img-space"
                            [lazyLoad]="section.image.srcSet"
                            [useSrcset]="true"
                            [offset]="100"
                            [scrollTarget]="this.windowService.getNativeWindow().document.getElementById('bleed')"
                            alt="{{section.image.altText}}" />
                </ng-container>
                <ng-container *ngIf="section.type === PostSectionType.IMAGE_CAROUSEL">
                    <image-carousel [imageCarousel]="section.imageCarousel"></image-carousel>
                </ng-container>
            </ng-container>
        </div>
        <div *ngIf="post.related.length > 0" class="o-post-list__related m-inset m-inset--dark">
            <div class="m-inset__contents">
                <h2>
                    Related Posts
                </h2>
                <ng-container *ngFor="let related of post.related">
                    <blog-item [blogPost]="related"></blog-item>
                </ng-container>
            </div>
        </div>
        <div class="o-post-list__footer">
            <div class="o-post-list__actions">
                <a class="a-link a-link--light" [routerLink]="" (click)="scrollToTop()">
                    <i style="padding-right: 0.5rem" class="fas fa-arrow-up"></i>Scroll Up
                </a>
                <a class="a-link a-link--light" [routerLink]="" ngxClipboard [cbContent]="this.windowService.getNativeWindow().location.href" (cbOnSuccess)="copyMsg = 'Link copied'">
                    <i class="fas fa-link" style="padding-right: 0.5rem"></i>
                    {{copyMsg}}
                </a>
            </div>
            <ng-container *ngIf="post.dateEdited !== dateCreated">
                <div class="o-post-list__edited">
                    <p>Edited {{post.dateEdited | date: 'fullDate'}}.</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>