<!-- Component is unnecessary if there are no more pages. -->
<div *ngIf="show">
    <!-- Nagivation Previous -->
    <a [routerLink]="previousNavigationEnabled ? ['/blog', currentPage] : null" queryParamsHandling="preserve">&lt;</a>
    
    <!-- First Page (always present) -->
    <a routerLink="/blog/1" queryParamsHandling="preserve">1</a>

    <p *ngIf="previousGap">...</p>

    <!-- Neighbourhood Grouping -->
    <a *ngFor="let pageIndex of neighbourhood" [routerLink]="['/blog', pageIndex + 1]" queryParamsHandling="preserve">
        {{pageIndex + 1}}
    </a>

    <p *ngIf="nextGap">...</p>

    <!-- Last Page (always present) -->
    <a [routerLink]="['/blog', numPages]" queryParamsHandling="preserve">{{numPages}}</a>
    
    <!-- Nagivation Next -->
    <a [routerLink]="nextNavigationEnabled ? ['/blog', currentPage + 2] : null" queryParamsHandling="preserve">&gt;</a>
</div>