<div class="l-blog">
    <!-- Cover w/ Search Bar -->
    <div class="m-cover m-cover--center">
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <p class="a-header">
                Blog
            </p>
            <p class="a-subheader">
                    Technological tattle, design documents and miscellaneous musings written during
                    various projects.
            </p>
            <blog-search (onSearchTermChangedEvent)="onSearchTermChangedEvent($event)"></blog-search>
        </div>
        <img    class="m-cover__image"
                src="/images/covers/cover-blog-small.jpg"
                [lazyLoad]="'/images/covers/cover-blog-small.jpg 300w,
                            /images/covers/cover-blog-medium.jpg 400w,
                            /images/covers/cover-blog-large.jpg 1024w,
                            /images/covers/cover-blog-full.jpg 1920w'"
                [useSrcset]="true"
                [offset]="100000"
                alt="Blog image of me writing." />
    </div>
    <!-- Posts Error Feedback -->
    <div class="l-blog__error" [style.display]="!inSearch && noPostsAfterFetch ? 'block' : 'none'">
        <p class="a-subheader">
            Uh-oh, doesn't look like there are any posts.
        </p>
    </div>
    <!-- Search Error Feedback -->
    <div class="l-blog__error" [style.display]="inSearch && noPostsAfterFetch ? 'block' : 'none'">
        <p class="a-subheader">
            It doesn't look like I've written about that yet.
        </p>
        <p>
            Is <em>'{{searchTerm}}'</em> something I should look into?
        </p>
        <a routerLink="/about">
            Contact
        </a>
    </div>
    <!-- Search Success Feedback -->
    <div class="l-blog__feedback" [style.display]="inSearch && !noPostsAfterFetch ? 'block': 'none'">
        <p *ngIf="numPosts > 1" class="a-subheader">
            {{numPosts}} results found...
        </p>
        <p *ngIf="numPosts == 1" class="a-subheader">
            {{numPosts}} result found...
        </p>
    </div>
    <!-- Featured Post -->
    <blog-featured *ngIf="featuredBlogPost && !inSearch && currentPage == 0" [featuredBlogPost]="featuredBlogPost"></blog-featured>
    <!-- Posts -->
    <blog-list *ngIf="blogPosts" [blogPosts]="blogPosts" [excludedPostIds]="excludedPostIds" [fresh]="currentPage == 0 && !inSearch"></blog-list>
    <!-- Information -->
    <div class="m-inset m-inset--dark">
        <div class="m-inset__contents m-inset__contents--left">
            <p>
                I try to post once a week, with various recurring ideas - from personal challenges, to hackathons,
                to tutorials or anecdotes, all with the intention of pushing myself to share what I learn.
            </p>
            <p>
                Soon, there might be a mailing list and progressive web-app technologies to push updates to your device.
                For now, just remember to check back if you're interested. Thanks!
            </p>
        </div>
        <div class="m-inset__contents m-inset__contents--right">
            <p class="a-subheader">
                Want to stay up to date?
            </p>
        </div>
    </div>
    <!-- Pagination -->
    <blog-pagination [currentPage]="currentPage" [numPages]="numPages"></blog-pagination>
</div>