<div *ngIf="blogPost" [ngClass]="{'m-blog-item': !isExpanded, 'm-blog-item-expanded': isExpanded, 'm-blog-item--series': blogPost.inSeries}">
    <div [ngClass]="{'m-blog-item__wrapper': !isExpanded, 'm-blog-item-expanded__wrapper': isExpanded, 'm-blog-item__wrapper--tint': !isExpanded && showPicture, 'm-blog-item-expanded__wrapper--tint': isExpanded && showPicture}">
        <div [ngClass]="{'m-blog-item__text': !isExpanded, 'm-blog-item-expanded__text': isExpanded, 'm-blog-item__text--tint': !isExpanded  && showPicture, 'm-blog-item-expanded__text--tint': isExpanded && showPicture}">
            <p class="a-subsubheader" *ngIf="isExpanded">
                Alternative Featured:
            </p>
            <p class="a-subsubheader" *ngIf="showDate">
                {{blogPost.dateCreated | date:'shortDate'}}
            </p>
            <a class="a-subheader" [routerLink]="['/post', blogPost.id]">
                {{blogPost.title}}
            </a>
            <p [ngClass]="{'m-blog-item__summary': !isExpanded, 'm-blog-item-expanded__summary': isExpanded}" *ngIf="isExpanded" [innerHTML]="blogPost.summary"></p>
            <a class="a-link" [ngClass]="{'m-blog-item__cta': !isExpanded, 'm-blog-item-expanded__cta': isExpanded}" *ngIf="showReadMore" [routerLink]="['/post', blogPost.id]">
                Read more
            </a>
        </div>
        <img    *ngIf="showPicture || isExpanded"
                [ngClass]="{'m-blog-item__image': !isExpanded, 'm-blog-item-expanded__image': isExpanded}"
                [defaultImage]="blogPost.featureImage.urlSmall"
                [lazyLoad]="blogPost.featureImage.srcSet"
                [useSrcset]="true"
                [offset]="100000"
                alt="{{blogPost.featureImage.altText}}" />
    </div>
</div>