<div>
    <!-- Cover w/ Search Bar -->
    <div>
        <img src="" alt="Blog image of me writing." />
        <p>
            Blog
        </p>
        <p>
            Brief description of the blog.
        </p>
        <blog-search></blog-search>
    </div>
    <!-- Featured Post -->
    <blog-featured *ngIf="featuredBlogPost" [blogPost]="featuredBlogPost"></blog-featured>
    <!-- Posts -->
    <div>
        Blog posts, 
        x5 Normal, 
        x1 Expanded Feature
    </div>
    <!-- Information -->
    <div>
        <div>
            <p>
                Every month I put together a little newsletter summarising what I've been up to,
                along with a curated list of useful links pertaining to industry news. What've
                you got to lose?
            </p>
        </div>
        <div>
            <p>
                Want to stay up to date?
            </p>
        </div>
    </div>
    <!-- Pagination -->
    <div>
        Pagination
    </div>
</div>