$blog-item-size: 17rem;

.m-blog-item {
    position: relative;

    &__wrapper {
        background-color: $paper;
        border: $border-size solid $ink;
        color: $ink;
        height: $blog-item-size;
        line-height: 25pt;
        margin: $spacing-small;
        overflow: hidden;
        position: relative;
        width: $blog-item-size;
    }

    &--series {
        &:before {
            content: '';
            display: block;
            background-color: $paper;
            border: $border-size solid $ink;
            position: absolute;
            top: -$spacing-small;
            height: $blog-item-size;
            width: $blog-item-size;
        }
    }

    &__image {
        @include image-cover;
        @include image-lazyload;
        
        z-index: 1;
    }

    &__text {
        @include container-full;

        padding: $spacing-small;
        position: absolute;
        z-index: 2;
    }

    &__cta {
        display: block;
        background-color: $paper;
        bottom: 0;
        box-sizing: border-box;
        left: 0;
        padding: $spacing-small;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .a-subheader {
        color: $ink;
        text-decoration: none;
        line-height: 26pt;
    }

    .a-subsubheader {
        margin-bottom: 0.5rem;
    }
}

.m-blog-item-anecdote {
    border-top: $border-size solid $ink;
    box-sizing: border-box;
    color: $ink;
    height: $blog-item-size + $border-size * 2;
    margin: $spacing-small;
    overflow: hidden;
    padding: $spacing-small;
    position: relative;
    width: $blog-item-size + $border-size * 2;

    .a-header {
        margin-bottom: 0;
    }
}

.m-blog-item-expanded {
    position: relative;
    
    &__wrapper {
        border: $border-size solid $tint;
        color: $paper;
        margin: $spacing-small;
        max-width: $blog-item-size * 3 + $spacing-small * 4 + $border-size * 4;
        min-width: $blog-item-size;
        overflow: hidden;
        position: relative;
    }

    &__text {
        @include half-right;

        box-sizing: border-box;
        padding: $spacing-large;
        position: relative;
        z-index: 1;

        @include breakpoint(phone) {
            padding: $spacing-small;
        }
    }

    &__image {
        @include image-cover;
        @include image-lazyload;

        z-index: 0;
    }
    
    &__cta {
        display: inline-block;
    }

    .a-subsubheader {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .a-subheader, &__summary {
        color: $paper;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 1rem;
    }
}

.m-blog-item-featured {
    @include container-inset-bottom($spacing-large);

    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 380pt;
    overflow: hidden;
    position: relative;

    &__image {
        @include image-cover;
        @include image-lazyload;

        z-index: 0;
    }

    &__text {
        @include two-thirds-left;

        box-sizing: border-box;
        padding: $spacing-large;

        z-index: 1;

        &--light {
            color: $paper;
        }

        &--right {
            @include two-thirds-right;
        }
    }

    .a-subsubheader {
        display: block;
        margin-bottom: 0.5rem;
    }

    .a-subheader, p {
        color: $paper;
        display: block;
        text-decoration: none;
        margin-bottom: 1rem;
    }
}