.m-cover {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 430pt;
    overflow: hidden;
    position: relative;

    &__image {
        @include image-cover;
        z-index: -1;
    }

    &__text {
        @include two-thirds-left;
        
        box-sizing: border-box;
        padding: $spacing-large;
        z-index: 1;

        .a-header,
        .a-subheader {
            margin-bottom: $spacing-medium;
        }

        &--light {
            color: $paper;

            .m-search-bar__input {
                color: $paper;

                &::placeholder {
                    color: $paper;
                }
            }
        }

        &--right {
            @include two-thirds-right;
        }
    }

    &--full {
        height: 100%;
    }

    &--center {
        justify-content: center;
    }
}