.m-cover {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    min-height: 430pt;
    overflow: hidden;
    position: relative;

    @include breakpoint(phone) {
        min-height: 350pt;
    }

    &__image {
        @include image-cover;
        z-index: 0;
    }

    &__text {
        box-sizing: border-box;
        padding: $spacing-large;
        z-index: 1;

        @include breakpoint(phone) {
            padding: $spacing-medium;
        }

        .a-header,
        .a-subheader {
            margin-bottom: $spacing-medium;
        }

        &--light {
            color: $paper;

            input,
            textarea,
            button,
            a {
                color: $paper;

                &::placeholder {
                    color: $paper;
                }
            }
        }

        &--left {
            @include two-thirds-left;
        }

        &--right {
            @include two-thirds-right;
        }
    }

    &--full {
        height: 100%;
    }

    &--center {
        justify-content: center;
    }
}