.m-cover {
    background-color: $chrome;
    display: flex;
    flex-direction: row;
    min-height: 430pt;
    overflow: hidden;
    position: relative;

    @include breakpoint(phone) {
        min-height: 350pt;
        flex-wrap: wrap;
    }

    &__image {
        @include image-cover;
        @include image-lazyload;

        z-index: 0;
    }

    &__text {
        box-sizing: border-box;
        padding: $spacing-large;
        z-index: 1;

        @include breakpoint(phone) {
            padding: $spacing-medium;
        }

        .a-header,
        .a-subheader {
            margin-bottom: $spacing-medium;
        }

        &--light {
            color: $paper;

            input,
            textarea,
            button,
            a {
                color: $paper;

                &::placeholder {
                    color: $paper;
                }
            }
        }

        &--left {
            @include third-left;

            padding-right: 0;

            @include breakpoint(phone) {
                padding-right: $spacing-medium;
            }
        }

        &--right {
            @include two-thirds-right;

            margin-left: auto;
        }
    }

    &--full {
        height: 100%;
    }

    &--center {
        align-items: center;
    }
}