$endorsement-item-width: $blog-item-size * 3 + $spacing-small * 4 + $border-size * 4;

.m-endorsement-item {
    background: url('/images/icons/icon-cross.svg');
    background-position: top left;
    background-repeat: round;
    
    border: $border-size solid $tint;
    margin: $spacing-small;
    max-width: $endorsement-item-width;
    overflow: hidden;
    position: relative;
    width: $endorsement-item-width;
    
    &__contents {
        @include half-left;
        @include last-no-margin;
        
        background-color: $chrome;
        box-sizing: border-box;
        min-height: 200pt;
        padding: $spacing-medium;
        position: relative;

        &--light {
            color: $paper;
        }

        &--right {
            @include half-right;
        }
    }

    &__image {
        @include half-left;
        @include image-cover;
        @include image-lazyload;

        z-index: 0 !important;
    }

    &__endorsement {
        margin-bottom: $spacing-small;
    }

    &__source {
        &:before {
            content: '⚬';
            margin-right: $spacing-small;
        }
    }

    &__image {
        @include image-cover;

        z-index: -1;
    }
}