$endorsement-item-width: $blog-item-size * 3 + $spacing-small * 4 + $border-size * 4;

.m-endorsement-item {
    background: url('/images/icons/icon-cross.svg') $lead;
    background-position: center;
    background-repeat: space;
    
    border: $border-size solid $ink;
    margin: $spacing-small;
    max-width: $endorsement-item-width;
    position: relative;
    width: $endorsement-item-width;
    
    &__contents {
        @include half-left;
        @include last-no-margin;
        
        background-color: $chrome;
        box-sizing: border-box;
        padding: $spacing-medium;

        &--light {
            color: $paper;
        }

        &--right {
            @include half-right;
        }
    }

    &__endorsement {
        margin-bottom: $spacing-small;
    }

    &__source {
        &:before {
            content: '⚬';
            margin-right: $spacing-small;
        }
    }

    &__image {
        @include image-cover;

        z-index: -1;
    }
}