.m-inline-group {
    > *:not(:last-child) {
        margin-right: $spacing-medium;
    }

    &--full {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-right: $spacing-medium;
    }
}