.m-inline-group {
    .a-link {
        margin: $spacing-medium;
    }

    &--full {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}