.m-inset {
    @include container-inset-top($spacing-small + $spacing-medium);

    color: $paper;
    overflow: hidden;
    padding: $spacing-large;
    padding-left: $spacing-small + $spacing-medium;
    padding-right: $spacing-small + $spacing-medium;
    position: relative;

    &--dark {
        background-color: $ink;
    }

    &--light {
        background-color: $chrome;
    }

    &__contents {
        @include last-no-margin;

        vertical-align: top;

        &--left {
            box-sizing: border-box;
            position: relative;
            padding-right: $spacing-large;
            
            @include two-thirds-left;
        }

        &--right {
            position: relative;

            @include third-right;
        }
    }
}