.l-portfolio {
    background: url('/static/images/backgrounds/portfolio-background.svg');
    background-repeat: repeat-y; 
    background-position: top 740px right 150px;

    .m-image-carousel {
        margin-top: 0;
    }
}