<div *ngIf="post">
    <div class="m-cover m-cover--center">
        <div class="m-cover__text m-cover__text--light">
            <p class="a-subsubheader">
                {{post.dateCreated | date:'fullDate'}}
            </p>
            <p class="a-header">
                {{post.title}}
            </p>
            <p class="a-subheader" [innerHTML]="post.summary"></p>
            <ul class="m-tags">
                <li class="m-tags__item" *ngFor="let tag of post.tags">
                    <a class="m-tags__tag" routerLink="/blog" [queryParams]="{'search': tag}">{{tag}}</a>
                </li>
            </ul>
        </div>
        <img    *ngIf="post.featureImage"
                class="m-cover__image"
                src="{{post.featureImage.urlSmall}}"
                [lazyLoad]="post.featureImage.srcSet"
                [useSrcset]="true"
                alt="{{post.featureImage.altText}}" />
    </div>
    <div class="o-post-list">
        <div class="o-post-list__contents" [innerHTML]="post.contents"></div>
    </div>
</div>