<div>
    <!-- Cover w/ Search Bar -->
    <div class="m-cover m-cover--full">
        <div class="m-cover__text m-cover__text--left m-cover__text--light">
            <p class="a-header">
                Site
            </p>
            <p>
                The development of this site is an ongoing personal labour of love.
                <a href="#">View the source code</a>, along with a project board detailing planned improvements.
            </p>
            <p>
                I use browser <a href="#">cookies</a> to remember what articles you've read in order to improve your
                experience.
            </p>
            <p>
                <a href="#">Leave feedback</a> (thanks!)
            </p>
        </div>
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <contact></contact>
        </div>
    </div>
</div>