<div>
    <!-- Cover w/ Search Bar -->
    <div class="m-cover m-cover--full">
        <div class="m-cover__text m-cover__text--left m-cover__text--light">
            <p class="a-header">
                Site
            </p>
            <p>
                The development of this site is an ongoing personal labour of love.
                <a class="a-link" href="https://github.com/joshhills/jargonify-site" target="_blank">View the source code</a>, along with a project board detailing planned improvements.
            </p>
            <p>
                I use browser <a class="a-link" href="https://www.cookielaw.org/the-cookie-law/" target="_blank">cookies</a> to remember what articles you've read in order to improve your
                experience.
            </p>
            <p>
                <a class="a-link" href="https://www.surveymonkey.co.uk/r/Y7LRPBC" target="_blank">Leave feedback</a> (thanks!)
            </p>
            <small>
                Site and its contents &copy; Josh Hills, 2019 unless otherwise stated.
            </small>
        </div>
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <contact></contact>
        </div>
    </div>
</div>