<div class="m-cover m-cover--full">
    <div class="m-cover__text m-cover__text--right m-cover__text--light">
        <p class="a-header">
            Hi
        </p>
        <p class="a-header">
            I'm Josh, I design and build STUFF.
        </p>
        <a class="a-button a-button--light" routerLink="/portfolio" routerLinkActive="active">
            Like what?
        </a>
    </div>
    <img    class="m-cover__image"
            src="/images/covers/cover-home.jpg"
            [lazyLoad]="'/images/covers/cover-home.jpg'"
            alt="Home image of me at a whiteboard." />
</div>