<div *ngIf="layout">
    <!-- Cover -->
    <div class="m-cover m-cover--center">
        <div class="m-cover__text m-cover__text--right m-cover__text--light">
            <p class="a-header">
                Portfolio
            </p>
            <p class="a-subheader">
                {{layout.headerText}}
            </p>
            <div class="m-inline-group">
                <a class="a-button a-button--light">
                    Printable
                </a>
                <a href="/blurb" class="a-link--light">
                    Contact Me
                </a>
            </div>
        </div>
        <img class="m-cover__image" src="/images/covers/cover-portfolio.jpg" alt="Portfolio image of me working." />
    </div>
    <ng-container *ngFor="let section of layout.sections">
        <ng-container *ngIf="section.type === PortfolioSectionType.POST_LIST">
            <div *ngIf="section.title" class="o-portfolio-list">
                <p class="a-header">
                    {{section.title}}
                </p>
            </div>
        </ng-container>
    </ng-container>
</div>